<!DOCTYPE html>
<html>
	<head>
		<meta charset = "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <link rel="stylesheet" href="/stylesheets/MS.css">
            <script>
        $(function(){ // pagination 현재 페이지 활성화 시킴
            var page = location.href.split("page=")[1]; // url에 page 넘버로 구분
            var index = page-1; // 0부터 시작이므로 1 빼줌

            if(page == null) { // 메인화면에서는 page 쿼리가 없으므로 빈값일 때
                $(".pagination a:eq(0)").attr('class', 'current-page');
            }

            $(".pagination a:eq(" + index + ")").attr('class', 'current-page');
        });

        function displayWriteForm() {
            $('.write_form').fadeIn();
        }

        function cancelWriteForm(option) {
            if(option == 'cancel') $('.write_form').fadeOut();
            if(option == 'ok') $('.content_box').fadeOut();
        }

        function submitContents() {
            var title = $('#addContentSubject').val();
            var content = $('#addContents').val();
            var writer = $('#addContentWriter').val();
            var password = $('#addContentPassword').val();

            // 새 글 등록 시
            if(title == '' || content == '' || writer == '' || password == '') {
                alert("제목과 내용, 작성자 비밀번호 모두 있어야합니다.");
                return;
            } else {
                $('#writeAction').submit();
            }
        }

        function searchContent() {
            if($('#searchWord').val == ''){
                alert("검색어를 입력해주세요!!!");
            } else {
                $('#searchAction').submit();
            }
        }
    </script>
        
        <style>
    
    </style>
        
        
        
        <title>맛집 GO</title>
	</head>
    
	<body>  
        
        
       
        
<!--		네비게이션 바 -->
			<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="nav-header">
					<button type ="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class= "sr-only"></span>
                        <span class= "icon-bar"></span>
                        <span class= "icon-bar"></span>
                        <span class= "icon-bar"></span>
                    </button>
                    <a class ="navbar-brand" href="/">  맛집 GO   </a> 
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class ="nav navbar-nav">
                        <li><a href="/">소개 <span class="sr-only"></span></a></li>
                        <li><a href="month"> 이달의 맛집</a></li>
                        <li class="active">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false"> 게시판 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="mark_menu"> 맛집 탐방 </a></li>
                                <li><a href="#"> 가입 인사 </a></li>
                                <li><a href="#"> 리뷰 모아보기 </a></li>
                                <li><a href="#"> 내 주변 맛집 </a></li>                                
                            </ul>
                        </li>
                        <li><a href="mark_registeration">맛집 등록</a></li>
                    </ul>
                    <form class="navbar-form navbar-right"  action="/search" method="get" id="searchAction" name="searchAction">
                        <div class ="search">
                                <input type="text" calss="serch_word" id="searchWord" name="searchWord" placeholder="내용을 입력하세요.">
                            <a href="#" onclick="searchContent();"> <button class="btn btn-default glyphicon glyphicon-search ">검색</button></a>
                        </div>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                         <% if(!user){ %>
                        <li class="dropdown">
                            <a href="#" class="dropdwon-toggle" data-toggle="dropdown" role="button">Login<span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                <li><a href="login"> 로그인 </a></li>
                                <li><a href="user_registeration"> 회원 가입 </a></li>                 
                            </ul>
                        </li>
                        <% } else { %>
                        <li > <a href="/logout_post"  role="button">Logout</a></li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </nav>
      

<!--        게시판 테이블 -->
        <div class="container">
        <div class="col-md-8 col-md-offset-2">
        
                 
         <style>
      @import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
       a1 { font-family: 'Nanum Pen Script', cursive; }
    </style>    
        
        <%if(contents.length>0){%>
        <%var i = 0;%>
        <%contents.forEach(function(item){%>
        <%i++;%>
        <div class="col-md-12" style="cursor:pointer;" onclick="location.href='/mark_menu_detail?id=<%=item._id%>';"><tr>
           <div  class=" col-md-4 " style="margin-top:13px;"> <td class="number"><img src="<%=item.fileUp[0]%>" style="width:200px; height:100px;"></td> 
            </div>
            <div  class="col-md-4" style="margin-left:40px;margin-top:24px;  font-size:2.0em; "> <td class="title" ><%=item.title%></td> </div>
            <div  class="col-md-3" style="margin-top:24px;"> <td class="cnt"><%=item.count%> 명이 봤어요</td></div>
            </tr></div><div>　<hr></div>
        <%})%>
        <%} else {%>
        
            게시물이 없습니다.
        
<%}%>
           


        </div>
       </div>
        <hr/>

        <div class="text-center">
            <ul class="pagination">
            <%
            for(var i=1; i<=pagination; i++){
            %>
                <a href="/mark_menu?page=<%=i%>" class="next-page"><%=i%></a>
                <%}%>
            </ul>
        </div>
        
        
        
        
<!--        푸터-->
	    <footer style ="background-color: firebrick; color:white ">
            <div calss="container">
                <br>
                <div class="row">
                    <div class = "col-sm-12" style="text-align: center;"><h5>Copyright &copy; 2017</h5><h5> 4조 김규도, 김진원 </h5></div>
                </div>
            </div>
            
            
        </footer>

           
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="javascripts/bootstrap.js"></script>
	</body>

</html>

<%
function dateFormatChange(date) {
    var options = {
        weekday: "short", year: "numeric", month: "short",
        day: "numeric", hour: "2-digit", minute: "2-digit"
    };

    return date.toLocaleTimeString("ko-KR", options);
}
%>